vti_encoding:SR|utf8-nl
vti_author:SR|Mark-PC\\Mark
vti_modifiedby:SR|Mark-PC\\Mark
vti_timelastmodified:TR|25 Sep 2012 00:24:23 -0000
vti_timecreated:TR|04 Aug 2012 19:06:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|connexion/connect.html connexion/about.html connexion/home.html connexion/whatsnew.html connexion/contact.html connexion/partners.html connexion/index.html connexion/moms.html
vti_nexttolasttimemodified:TW|25 Sep 2012 00:10:29 -0000
vti_cacheddtm:TX|25 Sep 2012 00:24:23 -0000
vti_filesize:IR|3932
vti_cachedlinkinfo:VX|S|Images/Master/CONN_Logo.png S|Images/Master/CONN_header_divider.png S|Images/Connect/Connect_frame.png S|Images/Contactus/Contactus_frame.png S|Images/Communitypartner/Communitypartner_frame.png S|Images/Home/Home_Image_Frame.png S|Images/About/About_frame.png
vti_cachedsvcrellinks:VX|FSUS|connexion/Images/Master/CONN_Logo.png FSUS|connexion/Images/Master/CONN_header_divider.png FSUS|connexion/Images/Connect/Connect_frame.png FSUS|connexion/Images/Contactus/Contactus_frame.png FSUS|connexion/Images/Communitypartner/Communitypartner_frame.png FSUS|connexion/Images/Home/Home_Image_Frame.png FSUS|connexion/Images/About/About_frame.png
