@{
    ViewBag.Title = "Connect - Connexion Rexdale";
}
<div class="content_area">
<div class="cright">
            <img src="@Url.Content("~/Content/Images/Connect/073112_CONNEXION_03.png")" alt="Connect" />
</div> <!-- end of right -->
        <div class="cleft">
            
            <h1> @ViewBag.bodyTitle </h1>

            @Html.Raw(ViewBag.bodyContents) 
                        
        </div> <!-- end of left -->
         </div> <!-- End of content_area -->
        <script type="text/javascript" src="../../Scripts/connect.js"> </script>
