@{
    ViewBag.Title = "Contact Us - Connexion Rexdale";
}

<div class="content_area">
<div class="right">
            <div class="contact_img">
            <img src="@Url.Content("~/Content/Images/Contactus/Contactus_img.png")" alt="Connect" />
            </div>
            
            <br/>
            
            <img src="@Url.Content("~/Content/Images/Contactus/Contactus_map.png")" alt="Map" />
        </div> <!-- end of right -->
        <div class="left">
            <!-- <h1> Contact us </h1> -->
            <h1> @ViewBag.bodyTitle </h1>
            @Html.Raw(ViewBag.bodyContents)
           <!-- <p> If you have any questions or want to know more, <br />
            please do not hesitate to contact us. <br /><br />  </p>
            
            <p class="s"> Mailing Address <br /> </p>
            <p> connexion rexdale, <br />
             2459 Islington Avenue, <br />
             Toronto, ON M9W 3X9 <br /><br /></p>  
                       
            <p class="s"> <a href="mailto:"> Email Us </a> <br /></p>
            
            <p> Quick Directions : <br /><br /> </p>
            <p class="s">    <b> If coming from Islington. </b> <br /><br /> </p>
            <p>  Head west on Golfdown Drive (One set of lights south of Elmhurst). <br />
                School would be on the right hand side. <br /><br />
            </p>           
            <p class="s"> 
                <b> If coming from albion. </b> <br /> <br /> </p>
            <p>    Head east on Golfdown Drive. (Two streets south of <br /> Elmhurst along Albion). <br />
                School would be on your left. <br /><br />           
            </p>
            
            <p class="s"> <b>Sunday Morning Gathering Location</b> <br /> <br /> </p>
            <p>    St Stephens Catholic School <br />
                55 Golfdown Drive <br />
                Toronto, ON M9W 2H8 <br />
                (Enter through doors at the front of the school) <br /><br />
            </p> -->
                        
        </div> <!-- end of left -->
         </div> <!-- End of content_area -->
        <script type="text/javascript" src="../../Scripts/contact.js"> </script>