@{
    ViewBag.Title = "ConnexionRexdale - Kinda like church...But different ";
}

<div class="img_list">
	   		<ul>
	   			<li id="New"><div class="tile"><a href="#"><img src="@Url.Content("~/Content/Images/Home/Home_01.png")" alt="slider" /></a></div></li>
	   			<li id="Faq"><div class="tile"><a href="#"><img src="@Url.Content("~/Content/Images/Home/Home_02.png")" alt="slider" /></a></div></a></li>
	   			<li id="Kids"><div class="tile"><a href="#"><img src="@Url.Content("~/Content/Images/Home/Home_03.png")" alt="slider" /></a></div></a></li>
	   		</ul>
</div>
