@{
    ViewBag.Title = "Mom's Arise";
}

<div class="content_area">
<div class="right">
            <img src="../../Content/Images/Moms/moms_arise_page_03.png" alt="" />
        </div> <!-- end of right -->
            
            <h1> @ViewBag.bodyTitle </h1>
            @Html.Raw(ViewBag.bodyContents)
            
 </div> <!-- End of content_area -->
 <script type="text/javascript" src="../../Scripts/moms.js"> </script>
