@{
    ViewBag.Title = "What's new - Connexion Rexdale";
}

<div class="content_area">
<div class="right">
            <img src="@Url.Content("~/Content/Images/Whatsnew/Whatsnew_img.png")" alt="" />
        </div> <!-- end of right -->
        <div class="left">
            
            <h1> @ViewBag.bodyTitle </h1>
            @Html.Raw(ViewBag.bodyContents)
            
            <img src="@Url.Content("~/Content/Images/Whatsnew/Whatsnew_ kidsparty.png")" alt="Kids party" />
            
</div> <!-- end of left -->
 </div> <!-- End of content_area -->
 <script type="text/javascript" src="../../Scripts/new.js"> </script>

